{% extends "layout.html" %}

{% block main %}
    <h1>Esto es una prueba sobre el funcionamiento de una app desde mi repositorio en github</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente, laboriosam! Odio nulla culpa blanditiis 
        eaque modi rem, corporis quis, cum, ipsum voluptate incidunt eos reprehenderit quibusdam ut unde? Tempora fugit dolores possimus nesciunt, officia eveniet ea quis iste pariatur veritatis laboriosam iure optio? Cum ipsam quaerat, temporibus facilis necessitatibus quas incidunt deserunt minus. Nobis quasi aspernatur laudantium praesentium blanditiis odit itaque eos vero. Corporis, architecto! Doloribus repellendus ad neque, autem ipsa tempora adipisci quia repudiandae quaerat eius voluptatibus consequuntur, provident maxime! Cupiditate recusandae dignissimos temporibus saepe? Asperiores nostrum, laborum odio necessitatibus sint voluptatibus fugiat nulla, ab ipsam architecto exercitationem illum maiores dolores consectetur dolor quam blanditiis. Nesciunt odit quis fugiat officiis quibusdam eos pariatur corrupti obcaecati mollitia blanditiis sint, sapiente est modi illo earum recusandae numquam aliquam perspiciatis ad, enim beatae et impedit esse! Impedit
        , corporis eos vitae omnis sed nesciunt quae obcaecati consequuntur? Voluptates nostrum iste ipsam itaque ullam!</p>
    <a href="{{url_for('test')}}">por favor clicka aqui para probar la otra pagina</a>

{% endblock %}