{% extends "layout.html" %}

{% block main %}
<form action="/test" method="post">
    <h1>Por favor introduce tu email</h1>
    <input type="email" name="email" id="" placeholder="email">
    <input type="submit" value="Enviar Email">
</form>
<p>Si abres esta pagina desde una computadora veras una lista grande de comidas de Emojis.</p>
<p>Si abres esta pagina desde un telefono puedes copiar un emoji de comida justo abajo de este texto.</p>
<input id="input-emoji" autocomplete="off" autofocus placeholder="Add Emoji food" type="text">
<input id="search-button" type="button" value="Serach">
<div class="container-imagenes">

    {% for img in imgs %}
    <button class="imagen" value="&#{{img.hexa}}">&#{{img.hexa}}</button>    
    {% endfor %}

</div>

<a href="{{url_for('index')}}">esto deberia llevarte de vuelta a la pagina anterior</a>

<div id="container-to-item-selected"></div>
        
{% endblock %}

{% block bottom %}

        <script>

            function afterSelected() {
                // Moviendo la pantalla "scrolling" hasta el container
                window.scrollTo(0, document.body.scrollHeight);
                
                // Mostrando el valor del boton que acabo de trar de "/search"
                document.getElementById('button-item-selected-like').addEventListener('click', function(){
                    alert(this.value);
                });
            }

            // searching from input-box
            let searchButton = document.querySelector('#search-button');
            searchButton.addEventListener('click', async function() {
                let response = await fetch('/search?q=' + document.querySelector('#input-emoji').value);
                let shows = await response.text();
                document.getElementById('container-to-item-selected').innerHTML = shows;
    
                afterSelected()
            });

            // searching from emojis buttons
            const emojis = document.getElementsByClassName('imagen');
                for (i = 0; i < emojis.length; i++) {
                    emojis[i].addEventListener('click', async function() {
                        let response = await fetch('/search?q=' + this.innerHTML);
                        let shows = await response.text();
                        document.getElementById('container-to-item-selected').innerHTML = shows;

                        afterSelected()
                    });
                }
         
            
    
        </script>

{% endblock %}